html {
    font-family: system-ui, sans-serif;
    font-size: 1.25rem;
  }
  
  body {
    margin: 0;
    background-color: #465362;
  }
  
  svg {
    display: inline-block;
    vertical-align: middle;
  }
  